@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');


:root{
  --bgBlack:#030304;
  /* --primary:#EC0D13; */
  --primary:#4d4ddf;
  --border: #aea1a2;
}
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  font-size: small;
  color:white;
  background-color: #030304;
  overflow-x: hidden;
}
.navigation-container {
  background-color: #030304;
  padding: 0.2rem 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.list-non-bullet {
  text-align: right;
  padding: 0rem 0.5rem;
}

.list-item-inline {
  text-decoration: none;
  display: inline;
  list-style-type: none;
}
.navigation-container .nav-brand {
  font-weight: lighter;
  font-size: larger;
  color: white;
}
.nav-brand a {
  text-decoration: none;
  color: white;
}

a:link {
  color: white;
}
a:visited {
  color: white;
}

a:hover {
  color: var(--primary);
}

a:active {
  color: white;
}

hr {
  margin: 2rem 0rem;
}

.margin-md {
  margin: 2rem;
}

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.4;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.hero {
  padding-top: 5rem;
}

.hero .hero-img {
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--dark-gray);
}

.hero .hero-heading .heading-inverted {
  color: #4d4ddf;
}

.section {
  padding: 3rem;
  margin: 0 auto;
  max-width: 700px;
  border-radius: 7px;
}

.section h1 {
  text-align: center;
}

.box {
  background-color: #4343481a;
}
.link {
  background-color: #030303;
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}
.footer {
  background-color:var(--bgBlack);
  padding: 3rem 1rem;
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer .link {
  color: white;
}
.footer-logo {
  margin: 0 5px;
}

.footer .footer-header {
  font-weight: bold;
  font-size: large;
}

.footer ul {
  padding-inline-start: 0px;
  min-width: 15rem;
  display: flex;
  justify-content: space-evenly;
}
.footer ul li a i{
  font-size: 1.3rem;
}


/** mobile view */

@media screen and (max-width:767px) {
  .footer ul li a i{
  font-size: 1rem;
}

}

/** projects **/
.showcase-list {
  text-align: left;
  padding: 2rem;
  background-color: #4343481a;
  border-radius: 7px;
  margin: 1rem auto;
}

/** blogs **/
.showcase-blog {
  padding-bottom: 6rem;
}

/* All hover effects */

.link:hover {
  background-color: #43434842;
  padding: 0.5rem;
}
